<html>  
  <body>  
    <center>  
      <h2 style="color: blue">  
        <i><%=params["subtitle"]%></i>  
      </h2>  
      <img style="width: 10%" src="<%=params["image_link"]%>"/>  
    </center>  
  </body>  
</html>  